@import "./src/style-mixins/theme.colors";
@import "./src/style-mixins/theme.fonts";
@import "./src/style-mixins/theme.spacing";

h1{
  @include font_h1();
  color: $color-dark-purple;
  margin-top: $spacing-default;
  margin-bottom: $spacing-default;
}

h2,h3,h4{
  @include font_h2();
  color: $colot-text-positive;
  margin-top: $spacing-default;
  margin-bottom: $spacing-default;
}
