@import "src/style-mixins/theme.colors";
@import "src/style-mixins/theme.fonts";
@import "src/style-mixins/theme.border-radius";

.articlePreview{
  padding: 40px;
  background-color: $color-main-interactive;
  color: $color-text-negative;
  border-radius: $border-radius-default;
  margin-bottom: 20px;
  &Date{
    @include font_small-content();
  }
  &Title{
    @include font_h2();
    color: $color-text-negative;
  }
}
