@import "src/style-mixins/theme.colors";
@import "src/style-mixins/mixin.border";
@import "src/style-mixins/theme.fonts";

.page-landing{
  .banner-type{
    background-color: $color-contrast-interactive;
    color: $color-text-negative;
    padding: 45px;
    .container{
      display: flex;
      justify-content: center;
      flex-direction: column;
      .col{
        width: calc(100% / 12 * 5);
      }
    }
    h1{
      color: #fff;
    }
    .btn-links{
      margin-top: 20px;
      *{
        margin-left: 7px;
        margin-right: 7px;
      }
    }
  }
}
