@import "src/style-mixins/theme.colors";
@import "src/style-mixins/mixin.border";
@import "src/style-mixins/theme.fonts";

*{
  box-sizing: border-box;
}

body{
  background: $color-dark-purple;
}

#bannerMain{
  .banner-main-foreground{
    width: 100%;
    max-width: 1950px;
    margin: 0 auto;
    min-height: max(100vh, 800px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .top-content{
      align-self: flex-start;
    }
    .banner-main{
      display: flex;
      &_vertical{
        box-sizing: content-box;
        .content{
          h2{
            @include font_h2();
            color: $color-yellow;
          }
          @include border();
          white-space: nowrap;
          padding: 12px 25px;
          position: absolute;
          transform:  translateX(-50%)
                      rotate(90deg)
                      translateY(calc(-50% + #{$border-size}))
                      translate(50%);
        }
      }
      &_horizontal{
        .banner-pretext{
          @include font_p();
          color: $color-yellow;
          margin-bottom: 20px;
          margin-left: 20px;
        }
      }
      &_blockContainer{
        @include border();
        padding: 55px 100px;
        .bannerH1{
          @include font_banner();
          position: relative;
          z-index: 1;
          color: $color-yellow;
          &:before{
            bottom: 10px;
            content: "";
            position: absolute;
            height: 7px;
            width: 100%;
            background: $color-coral;
            z-index: 0;
          }
        }
      }
      &_footer-links{
        display: flex;
      }
    }
  }
}

.banner-main_links{
  display: flex;
}

.link{
  @include border();
  @include font_p();
  text-decoration: none;
  color: $color-yellow;
  padding: 18px 15px;
  margin-left: -$border-size;
  margin-top: -$border-size;
  &:first-child{
    margin-left: 0;
  }
}


#aboutMe{
  width: 100%;
  min-height: max(100vh, 800px);
  max-width: 1950px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  .container{
    margin: 0 auto;
    width: calc(100% / 10 * 8);
  }

  .centerBlock{
    .row{
      display: flex;
    }
    .title{
      @include border();
      border-bottom: 0;
      padding: 35px;
      .name{
        @include font_h2();
        color: $color-yellow;
      }
    }

    .photo{
      @include border();
      border-right: 0;
      width: calc(100% / 8 * 3);
      background: red;
    }
    .column{
      width: 100%;
    }
    .aboutMe{
      width: 100%;
      background: $color-yellow;
      padding: 30px;
      .heading{
        @include font_h2();
        color: $color-dark-purple;
        margin-bottom: 20px;
      }
      p{
        @include font_p();
        color: $color-dark-purple;
      }
    }
    .summary{
      width: calc(100%/5*3);
      @include border();
      padding: 30px;
      p{
        @include font_p();
        color: $color-yellow;
        margin-bottom: 10px;
      }
    }

  }
}
