@mixin mainFont(){
  font-family: 'Ubuntu', sans-serif;
}
@mixin font_banner(){
  @include mainFont();
  font-weight: 400;
  font-size: 72px;
}
@mixin font_h1(){
  @include mainFont();
  font-weight: 400;
  font-size: 36px;
}
@mixin font_h2(){
  @include mainFont();
  font-weight: 400;
  font-size: 24px;
}
@mixin font_p(){
  @include mainFont();
  font-weight: 400;
  font-size: 18px;
}
