@mixin mainFont(){
  font-family: 'Jura', sans-serif;
}
@mixin codeFont(){
  font-family: 'Roboto Mono', monospace;
}
@mixin font_banner(){
  @include mainFont();
  font-weight: 400;
  font-size: 72px;
}
@mixin font_h1(){
  @include mainFont();
  font-weight: 700;
  font-size: 24px;
}
@mixin font_h2(){
  @include mainFont();
  font-weight: 500;
  font-size: 24px;
}
@mixin font_p(){
  @include mainFont();
  font-weight: 400;
  font-size: 20px;
}
@mixin font_small-content(){
  @include mainFont();
  font-weight: 300;
  font-size: 16px;
}

@mixin font_code-default(){
  @include codeFont();
  font-size: 16px;
  font-weight: 400;
}
