@import "../../style-mixins/theme.fonts.scss";
.header{
    width: 100%;
    height: 80px;

    .container{
        height: 80px;
        display: flex;
        align-items: center;
    }
    .homePageLink{
        h1{
            @include font_h2();
            text-transform: uppercase;
            margin-right: 15px;
        }   
    }
}
