@import "../../style-mixins/theme.fonts.scss";

.header-nav{
    ul{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            display: inline-block;
            padding: 0 10px;
            @include font_p();
            font-weight: 300;
            &.active{
                font-weight: 900;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }   
}